# Additions to standard GitHub .gitignore:
*.bak
*.orig
tmp/
trash/
attic/
.kash/

# Python tool caches
.ruff_cache/

# GitHub's standard Python .gitignore:

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# env files
.env

# macOS metadata
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/
**/.ipynb_checkpoints/
